{% extends "RiVoiturage/layout.html"  %}

{% block content  %}


  <section class="ftco-quote">
    	<div class="container">
    		<div class="row">
    			<div class="col-md-6 pr-md-5 aside-stretch py-5 choose">
    				<div class="heading-section heading-section-white mb-5 ftco-animate">
	            <h2 class="mb-2">Bienvenu Chez RiVoiturage</h2>
	          </div>
	          <div class="ftco-animate">
	          	<p>Merci de vouloir choisir nos service de CoVoiturage .</p>
	          	<ul class="un-styled my-5">
	          		<li><span class="icon-check"></span>Securite</li>
	          		<li><span class="icon-check"></span>Rapidite</li>
	          		<li><span class="icon-check"></span>Efficacite</li>
	          	</ul>
	          </div>
    			</div>
    			<div class="col-md-6 py-5 pl-md-5">
    				<div class="heading-section mb-5 ftco-animate">
	            <h2 class="mb-2">Se connecter</h2>
	          </div>
            {% if messages  %}
                  {% for message in messages %}
                  <!-- Teal Alert -->
                  <div class="alert alert-dismissible fade show g-bg-red g-color-white rounded-0" role="alert">
                    <button type="button" class="close u-alert-close--light" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">×</span>
                    </button>
                    <div class="media">
                      <span class="d-flex g-mr-10 g-mt-5">
                        <i class="icon-warning g-font-size-25"></i>
                      </span>
                      <span class="media-body align-self-center">
                        {{ message }}
                      </span>
                    </div>
                  </div>
                  {% endfor %}
                  <!-- End Teal Alert -->
              
              {% endif %}
              {% if form.errors %}
                  <div class="alert alert-dismissible fade show g-bg-red g-color-white rounded-0" role="alert">
                      <button type="button" class="close u-alert-close--light" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">x</span>
                      </button>
                      <div class="media">
                        <span class="d-flex g-mr-10 g-mt-5">
                          <i class="icon-wrong g-font-size-25"></i>
                        </span>
                        <span class="media-body align-self-center">
                            {{ form.errors }}
                        </span>
                      </div>
                  </div>
             
              {% endif %}
	          <form method="post" class="ftco-animate" action="{% url "connexion" %}">
              {% csrf_token %}
	          	<div class="row">
                 {% for field in form.visible_fields %}
                    <div class="col-md-12">
                      <div class="form-group">
                        {{ field }}
                        <br />
                      </div>
                    </div>
                  {% endfor %}
	             
                  <div class="col-md-12">
                    <div class="form-group">
                      <input type="submit" value="Connecter" class="btn btn-primary py-3 px-5">
                    </div>
                  </div>
              </div>
            </form>
    			</div>
    		</div>
    	</div>
    </section>
	
      

{% endblock %}