{% extends "RiVoiturage/layout.html"  %}
{% block content %}


<div class="container" >
             {% if messages  %}
                  {% for message in messages %}
                  <!-- Teal Alert -->
                  <div style="background:#F6D55C"  class="alert alert-dismissible" role="alert">
                    <button type="button" class="close u-alert-close--light" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">×</span>
                    </button>
                    <div class="media">
                      <span class="d-flex g-mr-10 g-mt-5">
                        <i class=" g-font-size-25"></i>
                      </span>
                      <span class="media-body align-self-center">
                        {{ message }}
                      </span>
                    </div>
                  </div>
                  {% endfor %}
                  <!-- End Teal Alert -->
              
            {% endif %}



       <div style="background:#ffff" class="list-group">
            {% for target in targets %}
                 <div  class="list-group-item list-group-item-action flex-column align-items-start active">
                  <div style="color:black" class="card">
                    <div class="card-header">
                      Direction :  {{target.point_arrive }}  
                    </div>
                    <div class="card-body">
                      <h5 class="card-title"></h5>
                      <p class="card-text">Point de départ :   {{target.point_depart}}</p>
                      <p class="card-text">Numero du chauffeur :    {{target.chauffeur}}</p>
                      <p class="card-text">Le Prix :     {{target.prix}} MRU</p>
                      <p class="card-text">Le nombre de place :     {{target.nbplace}} </p>
                      
                      {% if target.iscompleted %}
                              <p  class="btn btn-success">Complet</p>
                      {% else %}

                        <a href="/RiVoiturage/reserver/{{target.pk}}"  class="btn btn-primary">Reserver votre place</a>

                      {% endif %}

                      
                    </div>
                    <div class="card-footer text-muted">
                        <p class="card-text">Date de creation :  {{target.date}}</p>
                     </div>
                  </div>
                </div>
                {% comment %} <div  class="list-group-item list-group-item-action flex-column align-items-start active">
                    <div class="d-flex w-90 justify-content-between">
                    <h5 class="mb-1">Point d'arrivé :   {{target.point_arrive }}  
                        <a href="/RiVoiturage/reserver/{{ target.pk}}" class="btn btn-primary">Reserver</a>
                    </h5>
                    <small> {{target.date}}</small>
                    </div>
                    <p class="mb-1">Point de départ :   {{target.point_depart}}.</p>
                    <p class="mb-1">Numero du chauffeur :    {{target.chauffeur}} </p>
                    <p class="mb-1">Le Prix :    {{target.prix}} </p>
                   
                </div> {% endcomment %}
            {% endfor %}
    </div>
</div>


{% endblock content %}
