{% extends "RiVoiturage/layout.html"  %}
{% block content %}


<div class="container" >
    <h2> liste des tragets </h1>

    {% for target in targets %}
        <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Point d'arrivé :   {{target.point_arrive }} </h5>
            <p class="card-text">Point de départ :   {{target.point_depart}} </p>
            <p class="card-text">Numero du chauffeur :    {{target.chauffeur}}  </p>

            <a href="/RiVoiturage/reserver/{{ target.pk}}" class="btn btn-primary">Reserver</a>
            <a href="#" class="btn btn-primary">voir plus</a>
        </div>
        </div>
    {% endfor %}

</div>


{% endblock content %}
